.universities-container {
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.university-card {
    position: relative;
}

.university-cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    border-radius: 5px;
}

.university-card-image {
    height: 17rem;
    width: 17rem;
    border-radius: 5px;

}

.university-card-upper-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, transparent, #00000069);
    overflow: hidden;
    font-size: 30pox;
}

.university-button {
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(220, 0, 184);
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 5px;
}

.university-button:hover {
    background-color: #ffdafa;
}

.university-card:hover .university-card-upper-layer {
    height: 100%;
}

.universities-container-heading {
    font-size: 2rem;
    color: #494949;
}

@media (max-width:768px) {
    .university-cards-container {
        justify-content: center;
    }

}