.home {
    /* background-image: url("https://res.cloudinary.com/dpk6qsn0e/image/upload/v1725721072/smiling-brunette-with-textbook_wj3mtt.jpg"); */
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-heading {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/* .home h1 {
    font-size: 30px;
    color: rgb(41, 10, 10);
    margin: 0;
}

.home p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 20px;
}*/


@media (max-width:768px) {

}