.home {
    width: 100%;
}

.behind-layer {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    align-content: center;
    position: fixed;
    background: linear-gradient(to bottom, #282828, #ff4b4b, #7717fd);
    width: 100vw;
    height: 100vh;
}




.image1 {
    width: 100%;
    height: 100%;

}

.image2 {
    display: none;
}

.home-heading {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/* .home h1 {
    font-size: 30px;
    color: rgb(41, 10, 10);
    margin: 0;
}

.home p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 20px;
}*/

.awards-won {
    background-color: #000000e3;
    width: 100%;
    padding: 40px 0;
    /* Add a fixed height or min-height */
    margin-top: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030013ea;
    gap: 10%;
    overflow: hidden;
}

.awards-won-heading {
    font-size: 1.6rem;
    margin: 5px 0px;
}


.awards-won-heading::after {
    content: awards-won-heading(num);
}

.center-text {
    text-align: center;
}

.awards-won-text {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #cff9ff;
}

.awards-won-icon {
    font-size: 2.5rem;
    color: rgb(192, 50, 50);
}

.doubts-container {}



@media (max-width:768px) {
    .image2 {
        width: 100%;
        height: 100%;
        display: inline;
    }

    .image1 {
        display: none;
    }

    .awards-won-heading {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .awards-won-text {
        font-size: 1rem;
        font-weight: 200;
    }

    .awards-won-icon {
        font-size: 2rem;
    }

    .awards-won {
        flex-direction: column;
        gap: 2.5rem;
    }
}