.mySwiper {
  width: 100%;
  min-height: 350px;
  height: 95vh;
  background-color: var(--primary-color);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-size:cover;
}

.animated-text {
  margin: 0;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.5s;
  color: aliceblue;
  background-color: rgba(36, 36, 36, 0.276);
}

@media (max-width: 768px) {
  .mySwiper {
    height: 30vh;
  }
}